In [27]:
import pandas as pd
import numpy as np

In [28]:
# Load the dataset
file_path = 'Dataset_2023.csv'  
df = pd.read_csv(file_path)

In [29]:
# Display the first few rows of the dataset
print("Initial Dataset:")
print(df.head())

Initial Dataset:
   _id              NAME           DEPARTMENT_NAME                    TITLE  \
0    1  Demesmin,Stanley  Boston Police Department  Police Lieutenant (Det)
1    2     Hosein,Haseeb  Boston Police Department       Police Captain/DDC
2    3   Conway,Kendra J  Boston Police Department           Police Officer
3    4      Smith,Sean P  Boston Police Department        Police Lieutenant
4    5  Danilecki,John H  Boston Police Department           Police Captain

     REGULAR  RETRO      OTHER   OVERTIME  INJURED   DETAIL  QUINN_EDUCATION  \
0  145775.26    NaN    6053.17  221579.41      NaN  23862.0         29155.26
1  162823.73    NaN  165669.88   34154.37      NaN   5472.0         40706.02
2  359942.30    NaN   48651.28        NaN      NaN      NaN              NaN
3  142535.62    NaN   20368.37  152031.33      NaN  51646.0         35633.88
4  162326.64    NaN   24504.13   96954.98      NaN  61512.0         40581.57

   TOTAL GROSS POSTAL
0    426425.10  02052
1    408826.00  02186
2    408593.58  02465
3    402215.20  02186
4    385879.32  02559

In [30]:
# Check data types
print("\nData Types:")
print(df.dtypes)

Data Types:
_id                  int64
NAME                object
DEPARTMENT_NAME     object
TITLE               object
REGULAR            float64
RETRO              float64
OTHER              float64
OVERTIME           float64
INJURED            float64
DETAIL             float64
QUINN_EDUCATION    float64
TOTAL GROSS        float64
POSTAL              object
dtype: object

In [31]:
# 4. Convert data type of POSTAL
df['POSTAL'] = pd.to_numeric(df['POSTAL'], errors='coerce')

In [32]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
_id                    0
NAME                   0
DEPARTMENT_NAME        0
TITLE                  0
REGULAR             2245
RETRO              11210
OTHER               8414
OVERTIME           18502
INJURED            24652
DETAIL             23653
QUINN_EDUCATION    24493
TOTAL GROSS            0
POSTAL                80
dtype: int64

In [33]:
# Drop rows with missing 'POSTAL'
df.dropna(subset=['POSTAL'], inplace=True)

In [34]:
# Handle outliers
# Calculate IQR for 'TOTAL GROSS'
Q1 = df['TOTAL GROSS'].quantile(0.25)
Q3 = df['TOTAL GROSS'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df = df[(df['TOTAL GROSS'] >= lower_bound) & (df['TOTAL GROSS'] <= upper_bound)]

In [35]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [36]:
# Reset index after cleaning
df.reset_index(drop=True, inplace=True)

In [37]:
# Display the cleaned dataset
print("\nCleaned Dataset:")
print(df.head())

Cleaned Dataset:
   _id                     NAME           DEPARTMENT_NAME  \
0  109           DeLeon,Winston  Boston Police Department
1  110         Ciccolo,Robert W  Boston Police Department
2  111    Counihan Jr.,Robert J    Boston Fire Department
3  112  Nicholas,Gregory Thomas    Boston Fire Department
4  113      Driscoll,Jeffery M.  Boston Police Department

                            TITLE    REGULAR  RETRO     OTHER  OVERTIME  \
0           Police Sergeant (Det)  128906.44    NaN  11198.13  81556.13
1                        Supn Bpd  193636.86    NaN  34271.22   4270.11
2  District Fire Chief-Technician  198594.27    NaN   8834.80  41085.61
3         Fire Captain-Technician  178573.46    NaN    550.00  59955.88
4                  Police Officer  100267.34    NaN    850.00  61798.26

   INJURED    DETAIL  QUINN_EDUCATION  TOTAL GROSS  POSTAL
0      NaN  26983.00         32226.80    280870.50  2136.0
1      NaN       NaN         48409.20    280587.39  2132.0
2      NaN  32048.00              NaN    280562.68  2066.0
3      NaN  41388.25              NaN    280467.59  2129.0
4      NaN  92392.00         25067.06    280374.66  2472.0

In [26]:
# Save the cleaned dataset to a new CSV file
cleaned_file_path = 'cleaned_dataset.csv'  # Update with your desired file path
df.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to cleaned_dataset.csv